body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f5f5f5;
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.card {
    text-decoration: none;
    background: white;
    padding: 40px;
    width: 200px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: black;
}

.card:hover {
    background: #e0f0ff;
}

textarea {
    width: 60%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
}
